/*------- Fonts -------*/
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700|Chivo:900');

/* Font Details
    For Nav and Header:
    font-family: 'Chivo', sans-serif;
    For Body:
    font-family: 'Arvo', serif;
*/

.wrapper {
  width: 80%;
  margin: auto;
}

.main {
  padding-left: .3em;
  padding-right: .3em;
  padding-bottom: 30em;
}

.header {
  position: fixed;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
}

.header > * {
  flex: 1 100%;
}

.main-nav {
  background: white;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  font-family: 'Chivo', sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
  flex-grow: 1;
}

.navigation a:hover {
  color: gray;
  background-color: black;
  border-bottom: 10px gray;
}

.navigation a:active {

}

.logo {
  width: 100%;
  height: 100%;
}

.gradientBar {
  width: 100%;
  height: 25px;
  background: linear-gradient(white 55%, rgba(255, 255, 255, 0));
}

#info {
  padding-top: 12em;
}

.footer {
  padding-top: 1em;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 5%, white 25%);
  color: black;
  position: fixed;
  bottom: 0;
  text-align: center;
}
